*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  font-size: 16px;
  color: #646464;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
ol,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
}
::-moz-placeholder {
  color: transparent !important;
  opacity: 0 !important;
}
:-ms-input-placeholder {
  color: transparent !important;
  opacity: 0 !important;
}
::-ms-input-placeholder {
  color: transparent !important;
  opacity: 0 !important;
}
::placeholder {
  color: transparent !important;
  opacity: 0 !important;
}
.main-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: relative;
  overflow: auto;
  z-index: 1;
  scroll-behavior: smooth;
}
.header {
  width: 100%;
  min-width: 100vw;
  height: 60px;
  display: flex;
  align-self: flex-end;
  background: #fff;
  text-align: center;
  order: 3;
  border-radius: 4px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}
.header .top-menu {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.top-menu li {
  width: 120px;
  height: 60px;
  list-style: none;
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.top-menu li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #26262d;
  /* padding: 13px 3px; */
  padding: 3px;
  font-size: 12px;
  font-weight: 500;
  color: #171717;
  text-decoration: none !important;
  text-transform: uppercase;
  text-align: center;
}
.top-menu .icon {
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: #26262d;
  line-height: 40px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -khtml-border-radius: 30px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.top-menu .link {
  width: 100%;
  display: block;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.top-menu li:not(:first-child):before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: auto;
  width: 1px;
  height: 100%;
  background: radial-gradient(ellipse at bottom, rgba(38, 38, 45, 0.2) 0%, rgba(38, 38, 45, 0) 70%);
}
.top-menu li:hover a,
.top-menu li.active a,
.top-menu li:hover a .icon,
.top-menu li.active a .icon {
  color: #0856c1;
}
.progress-bar {
  background-color: #0856c1;
}
.txt_prime {
  color: #0856c1;
}
.border-bottom-center {
  position: relative;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.border-bottom-center::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: radial-gradient(ellipse at center, rgba(38, 38, 45, 0.2) 0%, rgba(38, 38, 45, 0) 75%);
}
.card_middle {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  padding: 1rem;
  margin-bottom: 20px;
}
.card_middle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  box-shadow: 10px 10px 15px rgba(38, 38, 45, 0.05);
  border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  -webkit-border-radius: 0 0 4px 0;
  -khtml-border-radius: 0 0 4px 0;
}
.card_middle::after {
  content: '';
  position: absolute;
  left: -15px;
  top: -15px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(135deg, rgba(8, 86, 193, 0.4) 0%, rgba(8, 86, 193, 0.01) 100%);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}
.card_middle .card-inner {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 4px;
  position: relative;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}
.card-inner .slide {
  width: calc(100% + 2rem);
  height: 40%;
  position: absolute;
  overflow: hidden;
  left: -1rem;
  top: -1rem;
  background-image: url('../img/logo.cc0badad.png');
  background-color: rgba(38, 38, 45, 0.1);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 50%;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -khtml-border-radius: 4px 4px 0 0;
}
.card-inner .slide::before,
.card-inner .slide::after {
  width: 100%;
  height: 70%;
  content: '';
  position: absolute;
  left: -25%;
  bottom: -60%;
  background: #fff;
  transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -o-transform: rotate(12deg);
}
.card-inner .slide::after {
  left: auto;
  right: -25%;
  transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  -o-transform: rotate(-12deg);
}
.card-inner .title {
  width: 100%;
  position: absolute;
  top: 50%;
  font-size: 2.5rem;
  text-align: center;
  color: #26262d;
}
.card-inner .subtitle {
  width: 100%;
  position: absolute;
  top: 60%;
  text-align: center;
  color: #0856c1;
}
.social {
  width: 100%;
  position: absolute;
  top: 66%;
  text-align: center;
  padding: 0;
}
.social li {
  list-style: none;
  display: inline;
}
.social li a {
  display: inline-block;
  padding: 10px;
  color: rgba(38, 38, 45, 0.6);
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.social li a:hover {
  color: #26262d;
}
.social li:hover {
  color: #0856c1;
}
.bottom-links {
  width: calc(100% + 2rem);
  height: 70px;
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: -1rem;
  left: -1rem;
}
.bottom-links::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background: radial-gradient(ellipse at left, rgba(38, 38, 45, 0.2) 0%, rgba(38, 38, 45, 0) 75%);
}
.bottom-links .bottom-link {
  width: 50%;
  height: 70px;
  position: relative;
  display: block;
  float: none;
  font-size: 14px;
  color: #26262d;
  line-height: 70px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.bottom-link:hover {
  color: #0856c1;
}
.bottom-link:not(:first-child)::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: radial-gradient(ellipse at top, rgba(38, 38, 45, 0.2) 0%, rgba(38, 38, 45, 0) 75%);
}
.card_details {
  width: 100%;
  padding: 0;
  margin-bottom: 30px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  transform-origin: center left;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  order: 2;
  overflow: auto;
  scroll-behavior: smooth;
}
.card_details .card_details_content {
  padding: 20px;
  color: #26262d;
  background: #fff;
}
.card_details_content.contact .content {
  margin-bottom: 60px;
}
.card_details_content .content .title {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  text-align: left;
  font-size: 1.5rem;
  color: #26262d;
  line-height: 28px;
  font-weight: 600;
  z-index: 2;
}
.card_details_content .content .title::before {
  width: 30px;
  height: 30px;
  content: '';
  position: absolute;
  left: -12px;
  top: 0;
  z-index: -1;
  border-radius: 30px;
  background: linear-gradient(135deg, rgba(8, 86, 193, 0.4) 0%, rgba(8, 86, 193, 0.01) 100%);
}
.card_details_content .content .title::after {
  width: 95%;
  height: 1px;
  content: '';
  position: absolute;
  left: -60px;
  bottom: -15px;
  right: 0;
  bottom: 0;
  width: auto;
  background: radial-gradient(ellipse at left, rgba(38, 38, 45, 0.2) 0%, rgba(38, 38, 45, 0) 75%);
}
.card_details_content .content .title .first-word {
  color: #0856c1;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.card_details_content .content .content_row .content_box {
  padding: 24px;
  position: relative;
}
.card_details_content .content:not(.price) .content_row .content_box:not(:nth-child(odd))::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background: radial-gradient(ellipse at left, rgba(38, 38, 45, 0.2) 0%, rgba(38, 38, 45, 0) 75%);
}
.card_details_content .content.price .content_row .content_box:not(:nth-child(odd))::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: radial-gradient(ellipse at top, rgba(38, 38, 45, 0.2) 0%, rgba(38, 38, 45, 0) 75%);
}
.content_box .info li {
  width: auto;
  list-style: none;
  padding: 1.75rem 0;
  position: relative;
  display: block;
  font-size: 16px;
  word-break: break-word;
  text-align: right;
}
.content_box .info li strong {
  float: left;
  margin-right: 8px;
  padding: 0.3rem 0.6rem;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  background: #0856c1;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
}
.content_box .info li:not(:last-child)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: radial-gradient(ellipse at center, rgba(38, 38, 45, 0.2) 0%, rgba(38, 38, 45, 0) 75%);
}
.card_details_content .content .content_row .service_box .service_icon {
  width: 80px;
  height: 80px;
  background: #0856c1;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
}
.card_details_content .content .content_row .service_box .service_icon .icon {
  font-size: 2rem;
  line-height: 80px;
  color: #fff;
}
.card_details_content .content .content_row .service_box .service_title {
  font-size: 1.4rem;
  text-align: center;
  padding: 1rem 0;
}
.card_details_content .content .content_row .service_box .service_details {
  text-align: center;
}
.card_details_content .content .content_row .pricing_box .pricing_icon .icon {
  font-size: 2rem;
  color: #0856c1;
}
.card_details_content .content .content_row .pricing_box .pricing_title {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5;
}
.card_details_content .content .content_row .pricing_box .pricing_price {
  font-size: 1.2rem;
  padding: 1rem;
}
.card_details_content .content .content_row .pricing_box .pricing_price .price {
  position: relative;
  font-size: 3rem;
  padding-left: 1rem;
}
.pricing_price .price::before {
  content: '$';
  position: absolute;
  left: 2px;
  top: 10px;
  font-size: 1.2rem;
}
.card_details_content .content .content_row .pricing_box .options li {
  line-height: 2;
}
.card_details_content .content .content_row .pricing_box .options li.striked {
  text-decoration: line-through;
  color: rgba(38, 38, 45, 0.5);
}
.text-left {
  text-align: left !important;
}
.card_details_content .content .content_row .resume .resume_title {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.card_details_content .content .content_row .resume .resume_title .icon {
  color: #0856c1;
  margin-right: 0.5rem;
}
.card_details_content .content .content_row .resume .resume_title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: radial-gradient(ellipse at left, rgba(38, 38, 45, 0.2) 0%, rgba(38, 38, 45, 0) 75%);
}
.card_details_content .content .content_row .resume .lists .time_period {
  color: rgba(38, 38, 45, 0.75);
  font-size: 0.85rem;
}
.card_details_content .content .content_row .resume .lists .time_period.active {
  color: #0856c1;
  padding: 0.1rem 0.2rem;
  border: 1px solid #0856c1;
  border-radius: 5px;
}
.card_details_content .content .content_row .resume .lists p {
  margin: 0;
}
.card_details_content .content .content_row .resume .lists .position {
  color: #26262d;
  font-size: 1.25rem;
  padding: 0.6rem 0 0.4rem 0;
}
.card_details_content .content .content_row .resume .lists .company {
  color: rgba(38, 38, 45, 0.75);
}
.card_details_content .content .content_row .resume .lists .details {
  color: #26262d;
  padding: 0.6rem 0 0.4rem 0;
}
.card_details_content .content .content_row .resume .progress {
  height: 0.5rem;
  margin-bottom: 1.5rem;
}
.content_row .resume .circleGroup span {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #0856c1;
}
.circleGroup span.active {
  background: #0856c1;
}
.card_details_content .content .content_row .resume .skills {
  font-size: 0.85rem;
  line-height: 1.4;
}
.circle_holder {
  width: 100%;
  justify-content: space-around;
}
.circle_holder .circular {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}
.circular .circle_bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}
.circular .circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  -webkit-animation: progress 1s ease-out forwards;
  animation: progress 1s ease-out forwards;
}
.circular.blue .circle {
  stroke: #0856c1;
}
.circular .percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}
.card_details_content .content .content_row .resume .skills {
  font-size: 0.85rem;
  line-height: 1.4;
}
.text-center {
  text-align: center !important;
}
.card_details_content .content .content_row .resume .langGroup {
  margin-bottom: 1.5rem;
}
.txt_prime {
  color: #0856c1;
}
.content_row .portfolio-item {
  height: 240px;
  position: relative;
  padding: 15px;
}
.content_row .portfolio-item .portfolio-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #ddd;
  background-position: top;
  background-size: 100% auto;
  overflow: hidden;
  color: #fff;
  text-align: center;
  padding-top: 24px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.content_row .portfolio-item .portfolio-wrapper:hover {
  background-position: bottom !important;
  box-shadow: inset 0 0 20px 200px rgb(0 0 0 / 60%);
}
.portfolio-wrapper *:not(img) {
  text-align: center;
  position: relative;
  z-index: 15;
  margin: 0 auto;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.portfolio-wrapper:hover *:not(img) {
  opacity: 1;
}
.portfolio-wrapper .heading {
  font-size: 1.2rem;
  margin-bottom: 8px;
}
.portfolio-wrapper .category {
  font-size: 1rem;
  margin-bottom: 8px;
}
.portfolio-wrapper a {
  padding: 0 8px;
  color: #fff;
  text-decoration: none !important;
}
.contact_map {
  height: 300px;
  margin-top: 30px;
}
.contact_map iframe {
  width: 100%;
  height: 100%;
}
.form_col {
  min-height: 60px;
}
.form_col_big {
  min-height: 84px;
}
.form-group {
  position: relative;
  margin-bottom: 1rem;
}
.form-group .form-control {
  border-radius: 0;
  position: absolute;
  z-index: 10;
  resize: none;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-group .form-control:focus {
  border: 1px solid #0856c1;
  outline: none !important;
  box-shadow: none !important;
}
.form-group label {
  position: absolute;
  z-index: 11;
  top: 7px;
  left: 12px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.form-group .form-control:focus ~ label,
.form-group .form-control:not(:placeholder-shown) ~ label {
  color: #0856c1;
  top: -18px;
  font-size: 11px;
}
.btn {
  background-color: #eee;
  color: #26262d;
  padding: 8px 20px;
  border: none;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.btn.primary_btn {
  background-color: #327de6;
  color: #fff;
}
.btn:hover {
  color: #fff;
  background-color: #0856c1;
}

.background.gradient {
  width: 100%;
  height: 100%;
  background: #48b1bf;
  background: linear-gradient(to bottom right, #48b1bf 0%, #0856c1 100%);
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  pointer-events: none;
}
.bg-bubbles {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.1);
  bottom: -320px;
  -webkit-animation: square 50s infinite;
  animation: square 50s infinite;
  transition-timing-function: linear;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 34s;
  animation-duration: 34s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 120px;
  height: 120px;
  -webkit-animation-duration: 44s;
  animation-duration: 44s;
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 240px;
  height: 240px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 320px;
  height: 320px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 40px;
  height: 40px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 80s;
  animation-duration: 80s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 80s;
  animation-duration: 80s;
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 320px;
  height: 320px;
  -webkit-animation-delay: 22s;
  animation-delay: 22s;
}
.text-end {
  display: flex;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .main-container {
    max-width: 1268px;
    max-height: 600px;
    padding: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    gap: 0;
  }
  .header {
    width: 72px;
    min-width: 72px;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 72px;
    height: auto;
    order: 1;
    position: relative;
    margin-right: 10px;
  }
  .header .top-menu {
    width: 72px;
    height: auto;
    flex-direction: column;
  }
  .top-menu li {
    width: 100%;
    height: 72px;
  }
  .top-menu li:not(:first-child):before {
    width: 100%;
    height: 1px;
    background: radial-gradient(
      ellipse at right,
      rgba(38, 38, 45, 0.2) 0%,
      rgba(38, 38, 45, 0) 70%
    );
  }
  .card_middle {
    max-width: 420px;
    max-height: 600px;
    margin-bottom: 0;
    order: 2;
  }
  .card_details {
    height: calc(100% - 80px);
    order: 3;
    margin-bottom: 0;
    border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -khtml-border-radius: 0 4px 4px 0;
  }
  .card_details .card_details_content {
    padding: 36px;
  }
  .card_details_content .content .title {
    padding-bottom: 30px;
    min-height: 51px;
  }
  .card_details_content .content .content_row .content_box:not(:nth-child(odd))::before {
    width: 1px;
    height: 100%;
    background: radial-gradient(ellipse at top, rgba(38, 38, 45, 0.2) 0%, rgba(38, 38, 45, 0) 75%);
  }
}

@-webkit-keyframes square {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1500px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1500px) rotate(600deg);
  }
}
